body {
  background-color: #42bbd9;
}

input {
  max-width: 100%;
}

h1 {
  text-align: left;
  margin-left: 20px;
  margin-top: 35px;
}

h2 {
  line-height: 58px;
  text-align: left;
  margin-left: 10px;
  font-size: 40px;
}

a {
  color: #56fff8;
}

ul {
  margin: 40px 0 10px 10px;
  font-size: 14px;
}

li {
  list-style: none;
  text-align: left;
}

.container {
  text-align: center;
}

.weather-app {
  border-style: solid;
  border-width: medium;
  border-radius: 20px;
  border-color: #fff;
  max-width: 600px;
  margin: 80px auto 0;
  background-color: #fff;
  padding: 10px;
}

.date {
  font-size: 14px;
  text-align: left;
}

.card {
  border-style: solid;
  border-radius: 10px;
  background: linear-gradient(
    109.5deg,
    rgb(13, 11, 136) 9.4%,
    rgb(86, 255, 248) 78.4%
  );
  color: #fff;
  margin: 0 auto;
  max-height: max-content;
  max-width: 95%;
}

.description {
  font-size: 14px;
  font-style: italic;
  margin-right: 20px;
}

.col-9 {
  margin-top: 15px;
}

.col-2 {
  margin: 0 auto;
  padding-bottom: 20px;
}

.weather-forecast {
  margin: 30px auto;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

#unit {
  position: absolute;
  font-size: 14px;
  margin-top: 8px;
}

#day {
  margin-top: 40px;
  font-size: 24px;
}

#search {
  margin-top: 15px;
  margin-left: -30px;
  background-color: #2968b3;
}
