body {
  background-color: #42bbd9;
}

input {
  max-width: 100%;
}

h1 {
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
}

h2 {
  line-height: 58px;
  text-align: left;
  margin-left: 10px;
  font-size: 40px;
}

ul {
  margin: 30px 0 0 10px;
  font-size: 14px;
}

li {
  list-style: none;
  text-align: left;
}

.description {
  font-size: 14px;
  font-style: italic;
}

.date {
  font-size: 14px;
  text-align: left;
}

.card {
  border-style: solid;
  border-radius: 10px;
  background: linear-gradient(
    109.5deg,
    rgb(13, 11, 136) 9.4%,
    rgb(86, 255, 248) 78.4%
  );
  color: #fff;
}

.emoji {
  line-height: 58px;
}

h3.forecast {
  padding-top: 20px;
}

.container {
  text-align: center;
}

.weather-app {
  border-style: solid;
  border-width: medium;
  border-radius: 20px;
  border-color: #fff;
  max-width: 600px;
  margin: 80px auto 0;
  background-color: #fff;
  padding: 10px;
}

.col-9 {
  margin-top: 15px;
}

.unit {
  position: absolute;
  font-size: 14px;
  margin-top: -5px;
}

.col-2 {
  margin: 0 auto;
  padding-bottom: 20px;
}

#day {
  margin-top: 30px;
  font-size: 18px;
}

#search {
  margin-top: 15px;
  margin-left: -30px;
  background-color: #2968b3;
}
